#img {

	background-image: url("https://i.imgur.com/CxOmmLK.jpg");
	background-position: center;
	background-size: 100% 100%;
	background-attachment: fixed;
	min-height: 600px;
	overflow: hidden;


}

p{
	font-size: 22px;
}

/*body
{

	background-image: url(https://i.imgur.com/CxOmmLK.jpg);
	height: 50%;
	background-position: center;
	background-size: cover;
}*/

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.links
{
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: Noto sans, sans-serif;
	padding-left: 30px;
}


/*img
{
	width: 1450px;
    height:780px;
	object-fit: cover;
	object-fit: fill;

}
*/